.wrapper {
  box-shadow: 0px 10px 13px -4px #23235f30;
  border-radius: 18px;
  padding-bottom: 10px;

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px 18px 0 0;

    .image {
      width: 144px;
      height: 144px;
      padding: 9px 17px;
    }
  }

  .courseName {
    color: #39414b;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    font-family: Nunito;
    margin: 12px 18px 18px 18px;
  }
}
