.tag {
  color: #39414b;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: -0.1px;
  padding: 12px;
  cursor: pointer;

  &.selected {
    background-color: #5FBF77;
    border-radius: 12px;
    color: white;
  }
}
